/* Login Styles */

.bodyLogin {
    text-align: center!important;
    overflow-x: hidden;
}

#loginContent {
    height: 100%;
    z-index: 99;
}

.loginContainer {
    height: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: block;
    z-index: 2;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form > a {
    color: #007bff!important;
    display: inline-block;
    margin-bottom: 8px;
}

form > a:hover {
    text-decoration: underline!important;
    cursor: pointer;
}

form > img {
    /* Safari */
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

form > img:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.boxBorder {
    background-color: white!important;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoBox {
    width: 100%;
    min-width: 330px;
    max-width: 660px;
    padding: 15px;
    display: block;
    margin: auto;
}

.white {
    background-color: white;
}

.logoList {
    padding: 5px;
    margin: 0px;
    color: #F7DF1D;
}

.logoList > li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.logoList > li > a > img {
    height: 40px;
}

.logoList > li > svg {
    font-size: 40px;
}

.reqHeader {
    padding-top: 15px;
    margin: 0px!important;
}

.reqList {
    padding: 0px;
    text-align: left;
    display: inline-block;
    margin-left: 30px;
}

.middleInput {
    border-radius: 0;
    border-bottom: 0px;
}

.cloudContainer {
    position: relative;
}

.clouds {
    width: 100%;
    position: absolute;
    height: 100px;
}

.cloud1 {
    position: relative;
    transform: translateZ(0);
    height: 100px;

    z-index: 0;
    top: 350%;
    left: -100%;
    animation: leftToRight 35s linear infinite;
}

.cloud2 {
    position: relative;
    transform: translateZ(0);
    height: 70px;

    z-index: 0;
    top: 45%;
    left: -100%;
    animation: leftToRight 40s linear 8s infinite;
}

.cloud3 {
    position: relative;
    transform: translateZ(0);
    height: 120px;

    z-index: 0;
    top: -60%;
    left: -100%;
    animation: leftToRight 45s linear 4s infinite;
}

.cloud4 {
    position: relative;
    transform: translateZ(0);
    height: 140px;

    z-index: 0;
    top: 150%;
    left: -150%;
    animation: leftToRight 50s linear 2s infinite;
}

@keyframes leftToRight {
    from {
        left: -70%;
    }
    to {
        left: 80%;
    }
}

.logoHover {
    transition: all .2s ease-in-out;
}

.logoHover:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 750px) {
    .boxBorder {
        border-radius: 0px;
        background-color: transparent!important;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    }
    .infoBox {
        font-size: 13px;
        margin: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .infoBox h1 {
        font-size: 20px;
        padding-top: 5px;
    }
    .logoList > li > a > img {
        height: 25px;
    }

    .logoList > li > svg {
        font-size: 25px;
    }
    .reqList {
        margin-bottom: 8px;
    }
    #signUpForm {
        padding-top: 8px;
    }
    #emailHelp {
        display: none;
    }
    .form-group {
        margin: 0px;
    }
    .loginContainer {
        display: block;
    }
    .cloudContainer {
        display: none;
    }
    #signInForm > p {
        margin: 0px;
        margin-top: 10px!important;
    }
    #infoContainerLogin{
        min-height: 600px!important;
    }
    #signInForm > img{
        margin-bottom: 10px!important;
    }
}

/* End of Login Styles */

html,
body {
    height: 100%;
    font-family: sans-serif;
    background-color: #f5f5f5;
    overflow: auto;
}
