html {
    height: 100%;
}

body {
    font-family: "Arial Black";
    height: 100%;
    overflow-x: hidden;
}

.mainContainer {
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

/* The starting container */

.startContainer {
    width: 100%;
    background-image: url('startBackground.jpg');
    background-size: cover;
    padding-bottom: 100px;
}

.startContainer > h2 {
    margin: 0px;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 50px;
    font-size: 70px;
    letter-spacing: -10;
}

.StartButton {
    text-align: center;
    width: 200px;
    margin: auto;
    background-color: palevioletred;
    padding: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 10px 60px black;
    border: 1px solid pink;
}

.StartButton:hover {
    background-color: pink;
}

/* END */

/* video */

.videoContainer {
    width: 100%;
    background-color: black;
    display: none;
}

/* END */

/* stats container */

.statsContainer {
    width: 100%;
    background-color: whitesmoke;
}

.statsContainer > h2 {
    margin: 0px;
    letter-spacing: -10;
    font-size: 40px;
    padding: 20px;
    color: palevioletred;
}

.statsContainer > p {
    padding-left: 20px;
    margin: 0px;
}

.statHeading {
    font-size: 20px;
    color: palevioletred;
}

.statText {
    font-size: 18px;
    padding-bottom: 20px;
}

/* END */

/* MAPS CONTAINER */

.mapsContainer {
    width: 100%;
    background-color: white;
}

.mapsContainer > h2 {
    margin: 0px;
    letter-spacing: -10;
    font-size: 40px;
    padding: 20px;
    color: palevioletred;
}

/* END */

/* FOOTER CONTAINER */

.footerContainer {
    width: 100%;
    background-color: white;
}

.credits {
    text-align: center;
    margin: 00px;
}

.top {
    padding-top: 50px;
}

.bottom {
    padding-bottom: 20px;
}

/* END */


/* DESKTOP CSS */
@media only screen and (min-width: 600px) {
    .videoContainer {
        max-width: 600px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        width: auto;
    }
    #googleMap{
        margin: 50px;
        margin-top: 0px;
        width: auto!important;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: pink;
    }
    .startContainer {
        height: 800px;
    }
    .startContainer > h2 {
        padding-top: 50px;
        font-size: 130px;
    }
    .mapsContainer {
        width: 50%;
        background-color: whitesmoke;
    }
    .statsContainer {
        width: 50%;
    }
    .desktopOuterContainer{
        display: flex;
    }
}

/* END OF DESKTOP CSS */
