@CHARSET "ISO-8859-1";
html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: rgb(245,245,245);
	/*font-family: "Open Sans";*/
}
#wrapper{
	min-height: 100%;
	margin-bottom: -200px;
	padding-bottom: 200px;
}
/* Heading Container */
	#fixedHeadingContainer{
		width: 100%;
		position: fixed;
		top: 0;
		padding: 0px;
		z-index:3;
	}
	#titleBackground{
		width: 100%;
		background: rgb(245,245,245);
	}
	#titleContainer{
		width: 100%;
		margin: auto;
		padding: 0px;
	}
	#title{
		font-size: 30px;
		padding: 0px;
		margin: 0px;
	}
	#navBar{
		width: 100%;
		height: 100%;
		background-image: url("blueTexture.jpg"); /*image has to be same or smaller than height and width of div */
		box-shadow: 1px 1px 5px black;
	}
	#navBarContainer{
		width: 100%;
		margin: auto;
	}
	ul.navBarList{
		width: 100%;
		list-style-type: none;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
	}
	#listItemHome{
		border-left: 2px solid white;
		width: 20%;
		float: left;
		font-size: 12px;
		box-sizing: border-box;
		height: 30px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemHome a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemHome a:hover{
		opacity: 0.5;
	}
	#listItemAbout{
		border-left: 2px solid white;
		width: 20%;
		float: left;
		font-size: 12px;
		box-sizing: border-box;
		height: 30px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemAbout a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemAbout a:hover{
		opacity: 0.5;
	}
	#listItemAthletics{
		border-left: 2px solid white;
		width: 20%;
		float: left;
		font-size: 12px;
		box-sizing: border-box;
		height: 30px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemAthletics a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemAthletics a:hover{
		opacity: 0.5;
	}
	#listItemProjects{
		border-left: 2px solid white;
		width: 20%;
		float: left;
		font-size: 12px;
		box-sizing: border-box;
		height: 30px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemProjects a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemProjects a:hover{
		opacity: 0.5;
	}
	#listItemReferences{
		border-left: 2px solid white;
		border-right: 2px solid white;
		width: 20%;
		float: left;
		font-size: 12px;
		box-sizing: border-box;
		height: 30px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemReferences a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemReferences a:hover{
		opacity: 0.5;
	}
	#dropDownMenu{
		margin-top: 10px;
		display: none;
		position: absolute;
		font-size: 7px;
		background-color: blue;
		min-width: 176px;
		box-shadow: 1px 1px 5px black;
		z-index: 2;
		text-shadow: 1px 1px 5px black;
		background-image: url("blueTexture.jpg");
	}
	#dropDownMenu a{
		text-decoration: none;
		display: block;
		color: white;
		padding-left: 5px;
		padding-bottom: 5px;
		text-align: left;
	}
	#dropDownMenu a:hover{
		opacity: 0.5;
	}
	#listItemReferences:hover #dropDownMenu{
		display: block;
	}
	#fixedSideBoxContainer{
		width: 100%;
		padding: 0px;
		position: relative;
	}
	#sideBoxContainer{
		width: 100%;
		margin: auto;
		padding: 0px;
		position: relative;
	}
	@media only screen and (max-width: 1100px) {
	#rateBox{
		padding: 0px;
		margin-top: 50px;
		width: 200px;
		height: 125px;
		position: absolute;
		top: 0%;
		left: 0%;
		background-color: white;
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
		display: none;
	}
	}
	@media only screen and (max-width: 1100px) {
	#contactMeBox{
		padding: 0px;
		margin-top: 50px;
		width: 200px;
		height: 150px;
		position: absolute;
		top: 0%;
		right: 0%;
		background-color: white;
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
		display: none;
	}
	}
	@media only screen and (max-width: 1100px) {
	#overallRatingBox{
		padding: 0px;
		margin-top: 200px;
		width: 200px;
		height: 210px;
		position: absolute;
		top: 0%;
		left: 0%;
		background-color: white;
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
		display: none;
	}
	}
/* Heading Container */

/* Heading Container on About Page */
	@media only screen and (max-width: 1100px) {
	#languageBox{
		padding: 0px;
		margin-top: 50px;
		width: 200px;
		height: 375px;
		position: absolute;
		top: 0%;
		left: 0%;
		background-color: white;
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
		display: none;
	}
	}
/* Heading Container on About Page */

/* Empty Container */
	#emptyContainer{
		width: 100%;
		margin: auto;
		height: 50px;
	}

/* Did you Know box */
	#didYouKnowBox{
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 100%;
		box-shadow: 1px 1px 5px black;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	#headingBox{
		border-bottom: 3px solid black;
		padding-bottom: 30px;
		background-image: url("yellowTexture.jpg"); /*image has to be same or smaller than height and width of div */
	}
	#titleHeading{
		width: 97%;
		padding: 0px;
		padding-left: 10px;
		margin: 0px;
		font-size: 20px;
		float: left;
		box-sizing: border-box;
	}
	#didYouKnowTextBox{
		padding: 10px;
		background-color: yellow;
	}
	#didYouKnowText{
		margin: 0px;
		font-size: 12px;
	}
	@media only screen and (max-width: 1100px) {
	#closeBox{
		float: left;
		padding-left: 1px;
		width: 3%;
		border-left: 3px solid black;
		font-size: 25px;
		box-sizing: border-box;
		display: none;
	}
	}
	#closeIcon:hover{
		opacity: 0.4;
	}
/* Did you Know box */

/* Home News feed */
	div.homeNewsFeedBox{
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		box-shadow: 1px 1px 5px black;
		width: 100%;
		margin: auto;
		margin-top: 50px;
		padding: 0px;
	}
	div.homeNewsFeedPictureBox{
		display: block;
		width: 100%;
		padding: 0px;
		margin: 0px;
		height: auto;
	}
	img.homeNewsFeedPicture{
		padding: 0px;
		width: 100%;
		height: 200px;
		margin: 0px;
	}
	div.homeNewsFeedTextContainer{
		padding: 10px;
		width: 100%;
		margin: 0px;
		box-sizing: border-box; /*includes padding, border and width, within width */
		background-color: white;
	}
	div.homeNewsFeedHeading{
		padding: 0px;
		margin: 0px;
	}
	div.homeNewsFeedDate{
		padding: 0px;
		margin: 0px;
	}
	div.homeNewsFeedText{
		padding: 10px;
		margin: 0px;
	}
	h3.homeNewsFeedHeading{
		margin: 0px;
		padding: 0px;
		font-size: 20px;
	}
	h5.homeNewsFeedDate{
		margin: 0px;
		padding: 0px;
		font-size: 15px;
	}
	p.homeNewsFeedText{
		margin: 0px;
		padding: 0px;
		font-size: 12px;
	}
/* Home News feed */

/* footer */
	#footer{
		width: 100%;
		height: 150px;
		margin-top: 50px;
		background-image: url("blueTexture.jpg");
		box-shadow: 4px 4px 30px black;
		box-sizing: border-box;
		border-top: 1px solid black;
	}
	#footerContainer{
		margin: auto;
		width: 100%;
		height: 100%;
		background-color: white;
		border-right: 1px solid black;
		border-left: 1px solid black;
		box-sizing: border-box;
	}
	#col-1{
		width: 45%;
		float: left;
		box-sizing: border-box;
	}
	#col-2{
		width: 45%;
		float: left;
		box-sizing: border-box;
	}
	#col-3{
		width: 1%;
		float: left;
		box-sizing: border-box;
	}
	h5.colHeading{
		margin: 0px;
		padding-left: 10px;
		font-size: 20px;
	}
	ul.colLists{
		padding: 0px;
		padding-left: 10px;
	}
	li.footerListItemCol1{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		font-size: 12px;
	}
	li.footerListItemCol1 a{
		text-decoration: none;
		color: black;
	}
	li.footerListItemCol1 a:hover{
		opacity: 0.5;
	}
	li.footerListItemCol2{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		font-size: 12px;
	}
	li.footerListItemCol2 a{
		text-decoration: none;
		color: black;
	}
	li.footerListItemCol2 a:hover{
		opacity: 0.5;
	}
	#footerIcon{
		color: blue;
		padding-right: 5px;
	}
/* footer */

/* AboutMeBox on About Page */
	div.aboutMeBox{
		border-top: 1px solid #black;
		border-bottom: 1px solid #black;
		box-shadow: 1px 1px 5px black;
		width: 100%;
		margin: auto;
		margin-top: 50px;
		padding: 0px;
	}
	div.aboutMeTitleContainer{
		width: 100%;
		border-bottom: 1px solid black;
		background-image: url("wood.jpg");
		height: 30px;
		border: 1px solid black;
	}
	h3.aboutMeTitle{
		font-size: 25px;
		padding-left: 10px;
		margin: 0px;
		color: white;
		text-shadow: 1px 1px 5px black;
	}
	div.aboutMePictureContainer{
		width: 100%;
		height: 100px;
		border: 1px solid black;
		position: relative;
	}
	img.aboutMePicture{
		-webkit-transition: filter 2s; /* safari support */
		transition: filter 2s;
		width: 100%;
		height: 100%;
	}
	div.aboutMePictureHeaderContainer{
		position: absolute;
		top: 30%;
		left: 0%;
		-webkit-transition: opacity 2s; /* safari support */
		transition: opacity 2s;
		background-color: black;
		opacity: 0.8;
		width: 70%;
		height: 40px;
	}
	div.aboutMeTextContainer{
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90px;
		opacity: 0;
		-webkit-transition: opacity 2s; /* safari support */
		transition: opacity 2s;
		background-color: black;
		overflow: auto;
	}
	div.aboutMeCol{
		float: left;
		width: 33%;
		height: 100%;
	}
	div.aboutMeColWide{
		float: left;
		width: 67%;
		height: 100%;
	}
	div.aboutMeColAll{
		width: 100%;
		height: 100%;
	}
	h3.aboutMeText{
		font-size: 15px;
		margin: 0px;
		color: white;
		padding-left: 15px;
		padding-top: 3px;
	}
	h3.aboutMeTitleOnHover{
		font-size: 15px;
		margin: 0px;
		color: white;
		padding-left: 10px;
		padding-top: 3px;
	}
	p.aboutmeTextOnHover{
		font-size: 7px;
		margin: 0px;
		padding-left: 10px;
		padding-top: 5px;
		color: white;
	}
	div.aboutMePictureContainer:hover div.aboutMeTextContainer{
		opacity: 0.8;
	}
	div.aboutMePictureContainer:hover div.aboutMePictureHeaderContainer{
		opacity: 0;
	}
	div.aboutMePictureContainer:hover img.aboutMePicture{
		filter: blur(10px);
	}
/* AboutMeBox on About Page */

/* reference form on create reference page */
	#makeReferenceContainer{
		border-radius: 5px;
		padding: 20px;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		margin: auto;
		font-size: 20px;
	}
	/* styles elements with input text */
	input[type=text], select, textarea{
		width: 100%;
		padding: 15px;
		padding-left: 0px;
		padding-right: 0px;
		border: 1px solid gray;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 10px;
		margin-bottom: 20px;
		resize: vertical; /*allows the user to extend the text area vertically */
	}
	input[type=submit]{
		background-color: #4CAF50;
		color: white;
		padding: 15px 20px;
		margin-left: 15px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	input[type=submit]:hover{
		box-shadow: 1px 1px 5px black;
	}
	#fname{
		padding-left: 15px;
	}
	#lname{
		padding-left: 15px;
	}
	#occupation{
		padding-left: 15px;
	}
	#contactInfo{
		padding-left: 15px;
	}
	#subject{
		padding-left: 15px;
	}
	#inputTitle{
		padding-left: 15px;
	}
/* reference form on create reference page */

/* athletics table on athletics page */
	#centreBoxContainer{
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 100%;
		box-shadow: 1px 1px 5px black;
	}
	div.athleticsTable{
		width: 100%;
		display: block;
		overflow: auto;
	}
	table{
		width: 100%;
		border-collapse: collapse;
		border: 1px solid black;
		table-layout: auto;
		white-space: nowrap;
		overflow: hidden;
	}
	th{
		text-align: left;
		border: 1px solid black;
		padding-bottom: 5px;
		padding-top: 5px;
		background-image: url("blueTexture.jpg");
		color: white;
		padding-left: 5px;
	}
	td{
		border: 1px solid black;
		padding-left: 5px;
	}
	tr:hover{
		border: 1px solid black;
		background-image: url("blueTexture.jpg");
		color: white;
	}
/* athletics table on athletics page */

/* Projects page */
	#projectsContainer{
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 100%;
		box-shadow: 1px 1px 5px black;
		height: 200px;
		overflow: hidden; 
		position: relative;
		background: url("website.jpg") no-repeat;
	}
	h3.projectHeader{
		padding: 0px;
		padding-left: 10px;
		padding-bottom: 10px;
		font-size: 20px;
		margin: 0px;
	}
	#extendProjectContainer{
		position: absolute;
		left: 40%;
		bottom: 0%;
		padding: 5px;
		margin: 0px;
		background-color: black;
		color: white;
		border: 1px solid black;
		font-size: 20px;
	}
	#extentProjectText{
		padding-bottom: 5px;
		padding: 5px;
	}
	#extentProjectText:hover{
		opacity: 0.6;
	}
	div.textContainer{
		box-shadow: 1px 1px 5px black;
		margin: auto;
		width: 100%;
		background-color: white;
		margin-bottom: 50px;
	}
	h3.projectSecondaryHeader{
		padding-left: 10px;
		font-size: 20px;
		padding-bottom: 0px;
		margin: 0px;
	}
	p.projectText{
		margin: 0px;
		padding: 10px;
		padding-top: 0px;
		font-size: 12px;
	}

/* Projects page */

/* reference page */
	div.referenceContainer{
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-bottom: 25px;
		width: 100%;
		box-shadow: 1px 1px 5px black;
		background-color: white;
	}
	h3.referenceHeader{
		padding: 0;
		padding-left: 10px;
		padding-bottom: 5px;
		font-size: 20px;
		margin: 0px;
	}
	div.referenceTextContainer{
		margin: auto;
		margin-top: 5px;
		width: 90%;
		box-shadow: 1px 1px 5px black;
		background: rgb(245,245,245);
	}
	p.referenceText{
		margin: 0px;
		padding: 10px;
		padding-top: 5px;
		font-size: 12px;
	}
	h3.referenceHeaderSmall{
		padding: 0;
		padding-left: 10px;
		font-size: 15px;
		margin: 0px;
	}
/* reference page */
	#homeText{
		display: none;
	}
	#aboutText{
		display: none;
	}
	#athleticsText{
		display: none;
	}
	#projectsText{
		display: none;
	}
	#referencesText{
		display: none;
	}

@media only screen and (min-width: 1100px) {
html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: rgb(245,245,245);
	/*font-family: "Open Sans";*/
}
#wrapper{
	min-height: 100%;
	margin-bottom: -200px;
	padding-bottom: 200px;
}
/* Heading Container */
	#fixedHeadingContainer{
		width: 100%;
		position: fixed;
		top: 0;
		padding: 0px;
		z-index:3;
	}
	#titleBackground{
		width: 100%;
		background: rgb(245,245,245);
	}
	#titleContainer{
		min-width: 900px;
		max-width: 900px;
		margin: auto;
		padding: 0px;
	}
	#title{
		font-size: 60px;
		padding: 0px;
		margin: 0px;
	}
	#navBar{
		width: 100%;
		height: 100%;
		background-image: url("blueTexture.jpg"); /*image has to be same or smaller than height and width of div */
		box-shadow: 1px 1px 5px black;
	}
	#navBarContainer{
		min-width: 900px;
		max-width: 900px;
		margin: auto;
	}
	ul.navBarList{
		width: 100%;
		list-style-type: none;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
	}
	#listItemHome{
		border-left: 2px solid white;
		width: 20%;
		float: left;
		font-size: 30px;
		box-sizing: border-box;
		height: 50px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemHome a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemHome a:hover{
		opacity: 0.5;
	}
	#listItemAbout{
		border-left: 2px solid white;
		width: 20%;
		float: left;
		font-size: 30px;
		box-sizing: border-box;
		height: 50px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemAbout a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemAbout a:hover{
		opacity: 0.5;
	}
	#listItemAthletics{
		border-left: 2px solid white;
		width: 20%;
		float: left;
		font-size: 30px;
		box-sizing: border-box;
		height: 50px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemAthletics a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemAthletics a:hover{
		opacity: 0.5;
	}
	#listItemProjects{
		border-left: 2px solid white;
		width: 20%;
		float: left;
		font-size: 30px;
		box-sizing: border-box;
		height: 50px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemProjects a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemProjects a:hover{
		opacity: 0.5;
	}
	#listItemReferences{
		border-left: 2px solid white;
		border-right: 2px solid white;
		width: 20%;
		float: left;
		font-size: 30px;
		box-sizing: border-box;
		height: 50px;
		padding-top: 5px;
		text-shadow: 1px 1px 5px black;
	}
	#listItemReferences a{
		text-decoration: none;
		display: inline;
		color: white;
		padding-left: 5px;
	}
	#listItemReferences a:hover{
		opacity: 0.5;
	}
	#dropDownMenu{
		margin-top: 10px;
		display: none;
		position: absolute;
		font-size: 20px;
		background-color: blue;
		min-width: 176px;
		box-shadow: 1px 1px 5px black;
		z-index: 2;
		text-shadow: 1px 1px 5px black;
		background-image: url("blueTexture.jpg");
	}
	#dropDownMenu a{
		text-decoration: none;
		display: block;
		color: white;
		padding-left: 5px;
		padding-bottom: 5px;
		text-align: left;
	}
	#dropDownMenu a:hover{
		opacity: 0.5;
	}
	#listItemReferences:hover #dropDownMenu{
		display: block;
	}
	#fixedSideBoxContainer{
		width: 100%;
		padding: 0px;
		position: relative;
	}
	#sideBoxContainer{
		min-width: 1300px;
		max-width: 1300px;
		margin: auto;
		padding: 0px;
		position: relative;
	}
	#rateBox{
		padding: 0px;
		margin-top: 50px;
		width: 200px;
		height: 125px;
		position: absolute;
		top: 0%;
		left: 0%;
		background-color: white;
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
	}
	#rateHeading{
		width: 100%;
		border-bottom: 1px solid black;
		height: 30px;
		background-image: url("blueTexture.jpg");
	}
	#rateTitle{
		font-size: 25px;
		font-weight: normal;
		padding-left: 10px;
		margin: 0px;
		color: white;
		text-shadow: 1px 1px 5px black;
	}
	#rateStars{
		width: 100%;
		list-style-type: none;
		overflow: hidden;
		margin: 0px;
		padding: 10px;
	}
	#star1{
		padding: 2px;
		float: left;
		font-size: 25px;
		color: grey;
		
	}
	#star2{
		padding: 2px;
		float: left;
		font-size: 25px;
		color: grey;
	}
	#star3{
		padding: 2px;
		float: left;
		font-size: 25px;
		color: grey;
	}
	#star4{
		padding: 2px;
		float: left;
		font-size: 25px;
		color: grey;
	}
	#star5{
		padding: 2px;
		float: left;
		font-size: 25px;
		color: grey;
	}
	#starDoneYellow{
		float: left;
		font-size: 25px;
		color: yellow;
	}
	#starDoneGrey{
		float: left;
		font-size: 25px;
		color: grey;
	}
	#contactMeBox{
		padding: 0px;
		margin-top: 50px;
		width: 200px;
		height: 150px;
		position: absolute;
		top: 0%;
		right: 0%;
		background-color: white;
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
	}
	#contactMeHeading{
		width: 100%;
		border-bottom: 1px solid black;
		height: 30px;
		background-image: url("blueTexture.jpg");
	}
	#contactMeTitle{
		font-size: 25px;
		font-weight: normal;
		padding-left: 10px;
		margin: 0px;
		color: white;
		text-shadow: 1px 1px 5px black;
	}
	ul.contactMeList{
		width: 100%;
		list-style-type: none;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
	}
	li.contactMeListItem{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		font-size: 20px;
	}
	li.contactMeListItem a{
		text-decoration: none;
		color: black;
	}
	li.contactMeListItem a:hover{
		opacity: 0.5;
	}
	#starTextBox{
		padding-left: 10px;
		width: 100%;
		margin: 0px;
		font-size: 25px;
	}
	#overallRatingBox{
		padding: 0px;
		margin-top: 200px;
		width: 200px;
		height: 210px;
		position: absolute;
		top: 0%;
		left: 0%;
		background-color: white;
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
	}
	#overallRatingHeading{
		width: 100%;
		border-bottom: 1px solid black;
		height: 30px;
		background-image: url("blueTexture.jpg");
	}
	#overallRatingTitle{
		font-size: 25px;
		font-weight: normal;
		padding-left: 10px;
		margin: 0px;
		color: white;
		text-shadow: 1px 1px 5px black;
	}
	#overalRatingTextContainer{
		width: 100%;
		height: 30px;
		padding: 0px;
		margin: 0px;
	}
	#bottomOverallRatingTextContainer{
		width: 100%;
		height: 30px;
		padding: 0px;
		margin: 0px;
	}
	#overallRatingText{
		font-size: 20px;
		padding-left: 10px;
		padding-top: 5px;
		margin: 0px;
	}
	#bottomOverallRatingText{
		font-size: 15px;
		padding-left: 10px;
		padding-top: 10px;
		margin: 0px;
	}
	#scoreBoard{
		margin: auto;
		padding: 0px;
		width: 100px;
		height: 70px;
		box-shadow: 1px 1px 5px black;
		background-color: lightGrey;
	}
	#score{
		font-size: 40px;
		padding: 10px;
		text-align: center;
	}
	#scoreCount{
		font-weight:bold;
	}
/* Heading Container */

/* Heading Container on About Page */
	#languageBox{
		padding: 0px;
		margin-top: 50px;
		width: 200px;
		height: 375px;
		position: absolute;
		top: 0%;
		left: 0%;
		background-color: white;
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
	}
	#languageHeading{
		width: 100%;
		border-bottom: 1px solid black;
		height: 30px;
		background-image: url("blueTexture.jpg");
	}
	#languageTitle{
		font-size: 25px;
		font-weight: normal;
		padding-left: 10px;
		margin: 0px;
		color: white;
		text-shadow: 1px 1px 5px black;
	}
/* Heading Container on About Page */

/* Empty Container */
	#emptyContainer{
		min-width: 800px;
		max-width: 800px;
		margin: auto;
		height: 125px;
	}

/* Did you Know box */
	#didYouKnowBox{
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		min-width: 800px;
		max-width: 800px;
		box-shadow: 1px 1px 5px black;
		border-style: solid;
	}
	#headingBox{
		border-bottom: 3px solid black;
		padding-bottom: 30px;
		background-image: url("yellowTexture.jpg"); /*image has to be same or smaller than height and width of div */
	}
	#titleHeading{
		width: 97%;
		padding: 0px;
		padding-left: 10px;
		margin: 0px;
		font-size: 25px;
		float: left;
		box-sizing: border-box;
	}
	#didYouKnowTextBox{
		padding: 10px;
		background-color: yellow;
	}
	#didYouKnowText{
		margin: 0px;
		font-size: 15px;
	}
	#closeBox{
		float: left;
		padding-left: 1px;
		width: 3%;
		border-left: 3px solid black;
		font-size: 25px;
		box-sizing: border-box;
	}
	#closeIcon:hover{
		opacity: 0.4;
	}
/* Did you Know box */

/* Home News feed */
	div.homeNewsFeedBox{
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
		min-width: 800px;
		max-width: 800px;
		margin: auto;
		margin-top: 50px;
		padding: 0px;
	}
	div.homeNewsFeedPictureBox{
		display: block;
		width: 100%;
		padding: 0px;
		margin: 0px;
		height: auto;
	}
	img.homeNewsFeedPicture{
		padding: 0px;
		width: 100%;
		height: 500px;
		margin: 0px;
	}
	div.homeNewsFeedTextContainer{
		padding: 10px;
		width: 100%;
		margin: 0px;
		box-sizing: border-box; /*includes padding, border and width, within width */
		background-color: white;
	}
	div.homeNewsFeedHeading{
		padding: 0px;
		margin: 0px;
	}
	div.homeNewsFeedDate{
		padding: 0px;
		margin: 0px;
	}
	div.homeNewsFeedText{
		padding: 10px;
		margin: 0px;
	}
	h3.homeNewsFeedHeading{
		margin: 0px;
		padding: 0px;
		font-size: 40px;
	}
	h5.homeNewsFeedDate{
		margin: 0px;
		padding: 0px;
		font-size: 25px;
	}
	p.homeNewsFeedText{
		margin: 0px;
		padding: 0px;
		font-size: 20px;
	}
/* Home News feed */

/* footer */
	#footer{
		width: 100%;
		height: 150px;
		margin-top: 50px;
		background-image: url("blueTexture.jpg");
		box-shadow: 4px 4px 30px black;
		box-sizing: border-box;
		border-top: 1px solid black;
	}
	#footerContainer{
		margin: auto;
		min-width: 900px;
		max-width: 900px;
		height: 100%;
		background-color: white;
		border-right: 1px solid black;
		border-left: 1px solid black;
		box-sizing: border-box;
	}
	#col-1{
		width: 33%;
		float: left;
		box-sizing: border-box;
	}
	#col-2{
		width: 33%;
		float: left;
		box-sizing: border-box;
	}
	#col-3{
		width: 34%;
		float: left;
		box-sizing: border-box;
	}
	h5.colHeading{
		margin: 0px;
		padding-left: 10px;
		font-size: 25px;
	}
	ul.colLists{
		padding: 0px;
		padding-left: 10px;
	}
	li.footerListItemCol1{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		font-size: 20px;
	}
	li.footerListItemCol1 a{
		text-decoration: none;
		color: black;
	}
	li.footerListItemCol1 a:hover{
		opacity: 0.5;
	}
	li.footerListItemCol2{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		font-size: 20px;
	}
	li.footerListItemCol2 a{
		text-decoration: none;
		color: black;
	}
	li.footerListItemCol2 a:hover{
		opacity: 0.5;
	}
	#footerIcon{
		color: blue;
		padding-right: 5px;
	}
/* footer */

/* AboutMeBox on About Page */
	div.aboutMeBox{
		border: 1px solid black;
		box-shadow: 1px 1px 5px black;
		min-width: 800px;
		max-width: 800px;
		margin: auto;
		margin-top: 50px;
		padding: 0px;
	}
	div.aboutMeTitleContainer{
		width: 100%;
		border-bottom: 1px solid black;
		background-image: url("wood.jpg");
		height: 30px;
		border: 1px solid black;
	}
	h3.aboutMeTitle{
		font-size: 25px;
		padding-left: 10px;
		margin: 0px;
		color: white;
		text-shadow: 1px 1px 5px black;
	}
	div.aboutMePictureContainer{
		width: 100%;
		height: 150px;
		border: 1px solid black;
		position: relative;
	}
	img.aboutMePicture{
		-webkit-transition: filter 2s; /* safari support */
		transition: filter 2s;
		width: 100%;
		height: 100%;
	}
	div.aboutMePictureHeaderContainer{
		position: absolute;
		top: 30%;
		left: 0%;
		-webkit-transition: opacity 2s; /* safari support */
		transition: opacity 2s;
		background-color: black;
		opacity: 0.8;
		width: 70%;
		height: 40px;
	}
	div.aboutMeTextContainer{
		position: absolute;
		top: 10%;
		left: 10%;
		width: 80%;
		height: 120px;
		opacity: 0;
		-webkit-transition: opacity 2s; /* safari support */
		transition: opacity 2s;
		background-color: black;
	}
	div.aboutMeCol{
		float: left;
		width: 33%;
		height: 100%;
	}
	div.aboutMeColWide{
		float: left;
		width: 67%;
		height: 100%;
	}
	div.aboutMeColAll{
		width: 100%;
		height: 100%;
	}
	h3.aboutMeText{
		font-size: 30px;
		margin: 0px;
		color: white;
		padding-left: 15px;
		padding-top: 3px;
	}
	h3.aboutMeTitleOnHover{
		font-size: 20px;
		margin: 0px;
		color: white;
		padding-left: 10px;
		padding-top: 3px;
	}
	p.aboutmeTextOnHover{
		font-size: 15px;
		margin: 0px;
		padding-left: 10px;
		padding-top: 5px;
		color: white;
	}
	div.aboutMePictureContainer:hover div.aboutMeTextContainer{
		opacity: 0.8;
	}
	div.aboutMePictureContainer:hover div.aboutMePictureHeaderContainer{
		opacity: 0;
	}
	div.aboutMePictureContainer:hover img.aboutMePicture{
		filter: blur(10px);
	}
/* AboutMeBox on About Page */

/* languages on About Page */
	div.languageContainer{
		width: 100%;
		padding: 20px;
		padding-bottom: 40px;
	}
	div.iconContainer{
		float: left;
		width: 50px;
		height: 50px;
	}
	div.progressContainer{
		float: left;
	}
	div.progressBarContainer{
		width: 100px;
		height: 25px;
		border: 1px solid black;
	}
	div.doneProgressJava{
		height: 100%;
		width: 80%;
		background-color: orange;
	}
	div.notDoneProgressJava{
		width: 20%;
		height: 100%;
	}
	div.doneProgressHtml{
		height: 100%;
		width: 80%;
		background-color: orange;
	}
	div.notDoneProgressHtml{
		width: 20%;
		height: 100%;
	}
	div.doneProgressCss{
		width: 80%;
		height: 100%;
		background-color: orange;
	}
	div.notDoneProgressCss{
		width: 20%;
		height: 100%;
	}
	div.doneProgressJavaScript{
		width: 50%;
		height: 100%;
		background-color: orange;
	}
	div.notDoneProgressJavaScript{
		width: 50%;
		height: 100%;
	}
	div.doneProgressPhp{
		width: 40%;
		height: 100%;
		background-color: orange;
	}
	div.notDoneProgressPhp{
		width: 60%;
		height: 100%;
	}
	img.languagePic{
		width: 100%;
		height: 100%;
	}
	h3.progressTitle{
		color: orange;
		padding: 0px;
		margin: 0px;
		text-align: right;
	}

/* languages on About Page */

/* reference form on create reference page */
	#makeReferenceContainer{
		border-radius: 5px;
		padding: 20px;
		min-width: 900px;
		max-width: 900px;
		margin: auto;
		font-size: 20px;
	}
	/* styles elements with input text */
	input[type=text], select, textarea{
		width: 100%;
		padding: 15px;
		border: 1px solid gray;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 10px;
		margin-bottom: 20px;
		resize: vertical; /*allows the user to extend the text area vertically */
	}
	input[type=submit]{
		background-color: #4CAF50;
		color: white;
		padding: 15px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	input[type=submit]:hover{
		box-shadow: 1px 1px 5px black;
	}
/* reference form on create reference page */

/* athletics table on athletics page */
	#centreBoxContainer{
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		min-width: 800px;
		max-width: 800px;
		box-shadow: 1px 1px 5px black;
	}
	div.athleticsTable{
		width: 100%;
		display: block;
		overflow: auto;
	}
	table{
		width: 100%;
		border-collapse: collapse;
		border: 1px solid black;
		table-layout: auto;
		white-space: nowrap;
		overflow: hidden;
	}
	th{
		text-align: left;
		border: 1px solid black;
		padding-bottom: 5px;
		padding-top: 5px;
		background-image: url("blueTexture.jpg");
		color: white;
		padding-left: 5px;
	}
	td{
		border: 1px solid black;
		padding-left: 5px;
	}
	tr:hover{
		border: 1px solid black;
		background-image: url("blueTexture.jpg");
		color: white;
	}
/* athletics table on athletics page */

/* Projects page */
	#projectsContainer{
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		min-width: 800px;
		max-width: 800px;
		box-shadow: 1px 1px 5px black;
		height: 200px;
		overflow: hidden; 
		position: relative;
		background: url("website.jpg") no-repeat;
	}
	h3.projectHeader{
		padding: 0px;
		padding-left: 10px;
		padding-bottom: 10px;
		font-size: 35px;
		margin: 0px;
	}
	#extendProjectContainer{
		position: absolute;
		left: 45%;
		bottom: 0%;
		padding: 5px;
		margin: 0px;
		background-color: black;
		color: white;
		border: 1px solid black;
		font-size: 25px;
	}
	#extentProjectText{
		padding-bottom: 5px;
		padding: 5px;
	}
	#extentProjectText:hover{
		opacity: 0.6;
	}
	div.textContainer{
		box-shadow: 1px 1px 5px black;
		margin: auto;
		width: 600px;
		background-color: white;
		margin-bottom: 50px;
	}
	h3.projectSecondaryHeader{
		padding-left: 10px;
		font-size: 25px;
		padding-bottom: 0px;
		margin: 0px;
	}
	p.projectText{
		margin: 0px;
		padding: 10px;
		padding-top: 0px;
		font-size: 15px;
	}

/* Projects page */

/* reference page */
	div.referenceContainer{
		margin: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-bottom: 25px;
		min-width: 800px;
		max-width: 800px;
		box-shadow: 1px 1px 5px black;
		background-color: white;
	}
	h3.referenceHeader{
		padding: 0;
		padding-left: 10px;
		padding-bottom: 5px;
		font-size: 30px;
		margin: 0px;
	}
	div.referenceTextContainer{
		margin: auto;
		margin-top: 5px;
		width: 90%;
		box-shadow: 1px 1px 5px black;
		background: rgb(245,245,245);
	}
	p.referenceText{
		margin: 0px;
		padding: 10px;
		padding-top: 5px;
		font-size: 25px;
	}
	h3.referenceHeaderSmall{
		padding: 0;
		padding-left: 10px;
		font-size: 20px;
		margin: 0px;
	}
/* reference page */
	#homeIcon{
		display: none;
	}
}