<header class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <MSL:Logo Filename="logo.png" URL="/" />
    </div>
    <div class="col-xs-12 col-sm-8" id="mslSiteNavBar">
      <a class="toggle-left">Show navigation</a>
      <MSL:Navigation ContainerDivId="navigation" Navigation_Name="primary" />
    </div>
  </div>
</header>