/* CSS Stylesheet
Webpages that use this StyleSheet:
BradleyTenuta.htm
athletics.htm
*/

/* phone display */
body{
	width: 95%;
	margin: auto;
	background: rgb(245,245,245);
	font-family: "Open Sans";
}
h1{
	color: lightblue;
	text-shadow: 1px 1px 3px rgb(100,100,100);
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
div.navBar{
	width: 100%;
	display: block;		
}
#navBarList{
	background-color: lightblue;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 5px black;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding-left: 2%;
}
#navBarLi{
	float: left;
	color: black;
}
#navBarLi a{
	float: left;
	display: inline;
	text-align: center;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 0;
	text-decoration: none;
	color: black;
}
#navBarLi a:hover{
	background-color: lightblue;
	color: black;
	opacity: 0.1;
}
#navBarLiAbout{
	float: left;
	color: black;
}
#navBarLiAbout a{
	float: left;
	display: inline;
	text-align: center;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 0;
	text-decoration: none;
	color: black;
}
#navBarLiAbout a:hover{
	background-color: lightblue;
	color: black;
	opacity: 0.1;
}

#contactInfo{
	float: right;
	display: none;
	text-align: center;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 0;
	color: black;
}
#contactButton{
	padding-right: 7px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 0;
	float: right;
	font-size: 20px;
}
#contactButton a{
	float: right;
	text-decoration: none;
	color: black;
	font-size: 20px;
}
#contactButton a:hover{
	float: right;
	opacity: 0.5;
}
div.footer{
	width: 100%;
	padding: 10px 0px;
	display: block;
	background-color: lightblue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 1px 1px 5px black;
}
#footerList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#footerListLi{
	color: black;
}
#footerListLi a{
	padding: 14px 20px;
	text-decoration: none;
	color: black;
}
#contactList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #777;
}
div.athleticsTable{
	width: 100%;
	display: block;
	overflow: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}
table{
	border-collapse: collapse;
	border: 1px solid black;
	table-layout: auto;
	white-space: nowrap;
	overflow: hidden;
}
th{
	text-align: left;
	border: 1px solid black;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #d8ecf3; /*very light blue */
}
td{
	border: 1px solid black;
}
tr:hover{
	border: 1px solid black;
	background-color: lightblue;
}
div.col-1{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}
div.col-2{
	display: none;
}
div.activityBox{
	margin-bottom: 5%;	
	background-color: white;
	box-shadow: 1px 1px 5px black;
}
div.pictureBox{
	padding: 0;
	display: block;
	width: 100%;
	height: auto;
}
div.textContainer{
	display: block;
	padding: 10px;
}
#activityBoxHeading{
	padding: 0;
	margin: 0;
}
#activityBoxDate{
	padding: 0;
	margin: 0;	
}
#activityBoxPic{
	width: 100%;
}
div.aboutBox{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;	
	background-color: white;
	box-shadow: 1px 1px 5px black;
}
div.aboutPictureBox{
	border-radius: 20px;
	padding: 0;
	display: block;
	width: 100%;
	height: auto;
}
div.aboutTextContainer{
	display: block;
	padding: 10px;
}
#aboutBoxPic{
	width: 100%;
}
#aboutBoxHeading{
	font-size: 30px;
	text-align: center;
	padding: 0;
	margin: 0;
}
#aboutBoxSubheading{
	font-size: 20px;
	padding: 0;
	margin: 0;	
}
#aboutBoxSubheading2{
	font-size: 15px;
	padding: 0;
	margin: 0;
}	
#aboutBoxText{
	
}
.clearfix:after {
	content: "";
	display: table;	
	clear: both;
}
#infoButton{
	background-color: #d8ecf3;
	border: 2px solid black;
	position: fixed;
	top: 0;
	right: 0;
}
#infoButtonIcon{
	font-size: 30px;
}
#aboutInfoButton{
	background-color: lightblue;
	border: 2px solid black;
	position: fixed;
	top: 0;
	right: 0;
}
#athleticsInfoButton{
	background-color: lightblue;
	border: 2px solid black;
	position: fixed;
	top: 0;
	right: 0;
}
#infoButtonText{
	width: 300px;
}
/* desktop display */
@media only screen and (min-width: 800px) {
	#navBarLi a{
	float: left;
	display: inline;
	text-align: center;
	padding-right: 17px;
	padding-bottom: 14px;
	padding-top: 14px;
	padding-left: 0;
	text-decoration: none;
	color: black;
	font-size: 20px;
	}
	#navBarLiAbout{
		float: left;
		color: black;
		display: none;
	}
	#navBarLiAbout a{
		float: left;
		display: none;
		text-align: center;
		padding-right: 10px;
		padding-bottom: 7px;
		padding-top: 7px;
		padding-left: 0;
		text-decoration: none;
		color: black;
	}	
	#contactInfo{
	float: right;
	display: block;
	text-align: center;
	padding-right: 17px;
	padding-bottom: 14px;
	padding-top: 14px;
	padding-left: 0;
	color: black;
	font-size: 20px;
	}	
	#contactButton{
	padding-right: 14px;
	padding-bottom: 9px;
	padding-top: 11px;
	padding-left: 0;
	float: right;
	}	
	#contactButton a{
	float: right;
	text-decoration: none;
	color: black;
	font-size: 30px;
	}
	#footerListLi a{
	padding: 14px 20px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	}
	table{
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	table-layout: auto;
	}
	h1{
	color: lightblue;
	text-shadow: 1px 1px 3px rgb(100,100,100);
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	}
	div.col-1{
	display: inline;
	float: left;
	width: 56%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	}
	div.col-2{
	display: inline;
	float: left;
	width: 36%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;	
	}
	div.activityBox{
	margin-bottom: 5%;
	background-color: white;
	box-shadow: 1px 1px 5px black;
	}
	div.aboutBox{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;	
	background-color: white;
	box-shadow: 1px 1px 5px black;
	}
	#activityBoxHeading{
		padding: 0;
		margin: 0;
		font-size: 30px;
	}
	#activityBoxDate{
		padding: 0;
		margin: 0;
		font-size: 25px;		
	}	
	#activityBoxText{
		font-size: 20px;
	}
	#aboutBoxHeading{
		font-size: 30px;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	#aboutBoxSubheading{
		font-size: 25px;
		padding: 0;
		margin: 0;	
	}
	#aboutBoxSubheading2{
		font-size: 22px;
		padding: 0;
		margin: 0;
	}	
	#aboutBoxText{
		font-size: 20px;
	}
	#aboutBoxList{
		font-size: 20px;
	}
	#infoButtonText{
	width: 300px;
	font-size: 20px;
	}
}