/* Fonts used for this webpage */

@font-face {
    font-family: 'Junction-bold';
    src: url('fonts/junction-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Junction-light';
    src: url('fonts/junction-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Junction-regular';
    src: url('fonts/junction-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* END */

/* MOBILE FIRST CSS */

/* OTHER */

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Junction-regular';
}

.titleContainer > h2 {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    margin: 0px;
    text-shadow: 0px 2px 3px #555;
    letter-spacing: -1px;
}

.opacityLayer {
    background-color: black;
    opacity: 0.5;
}

.button {
    width: 150px;
    height: 50px;
    color: white;
    transition: background-color 0.5s ease;
    background-color: #000080;
    text-align: center;
    margin: auto;
    cursor: pointer;
    position: relative;
    margin-bottom: 25px;
}

.button:hover {
    background-color: #00004d;
}

.button > p {
    padding: 0px 10px;
    padding-top: 12px;
    margin: 0;
    font-size: 20px;
}

.button > p > img {
    width: 40px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.buttonLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.smallHeading {
    font-family: 'Junction-bold';
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-shadow: 0px 2px 3px #555;
    /*letter-spacing: -2px;*/
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #676E76;
}

::-webkit-scrollbar-thumb {
    background: #676E76;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #DCDCDC;
}

/* END OF OTHER */

/* NAVBAR */

.navbar {
    padding: 4px 8px 4px 8px;
    background-color: #f8f9fa !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.navbar > button {
    border: none;
    height: 30px;
    width: 30px;
    box-sizing: content-box;
}

.navbar-toggler-cross {
    background-image: url(images/cross_icon.png);
    background-size: contain;
    display: none;
    width: 30px;
    height: 30px;
}

.navbar-brand {
    font-family: 'Junction-bold';
    font-style: italic;
    padding: 0px;
    letter-spacing: -2px;
}

.nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Junction-light';
    font-size: 20px;
}

.nav-link.active {
    opacity: 1;
    font-family: 'Junction-regular';
}

.nav-link:hover {
    opacity: 1;
    font-family: 'Junction-regular';
}

/* END OF NAVBAR */

/* WHOLE PAGE */

.wholePageContainer {
    max-width: 1920px;
    background-color: skyblue;
    min-height: 500px;
}

.wholePageCenterContainer {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    z-index: 0;
}

.wholePageInfoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    margin-top: 50px;
    margin-left: 30px;
    padding: 10px;
    z-index: 1;
}

.wholePageBackground {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 5px 10px 20px black;
    border-radius: 20px;
    z-index: 2;
    opacity: 0.9;
}

.wholePageTitleContainer {
    position: relative;
    text-align: center;
    z-index: 3;
}

.wholePageTitleContainer > h2 {
    font-size: 30px;
    margin: 0px;
    text-shadow: 0px 2px 3px #555;
    letter-spacing: -2px;
    padding-top: 25px;
}

.wholePageImageContainer {
    position: relative;
    text-align: center;
    z-index: 3;
}

.wholePageImageContainer > img {
    width: 100%;
}

.wholePageTextContainer {
    position: relative;
    text-align: center;
    z-index: 3;
}

.wholePageTextContainer > p {
    margin: 0px;
}

.wholePageSubHeading {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* END OF WHOLE PAGE */

/* HOME CONTAINER */

.homeContainer {
    background-image: url(images/home_background.jpg);
    background-size: cover;
}

.homeInfoContainer {
    margin-top: 100px;
    padding: 5px;
}

.homeImageContainer {
    padding: 20px;
    padding-bottom: 20px;
}

.homeTextContainer > p {
    font-family: 'Junction-light';
    font-size: 23px;
    letter-spacing: -2px;
}

/* END OF HOME CONTAINER */

/* EXPERIENCE */

.jobsContainer {
    width: 100%;
}

.moreJobSection {
    max-height: 0px;
    overflow: hidden;
}

.jobBox {
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    color: white;
}

.jobSlide1Container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.jobSlide2Container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.jobTitle {
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Junction-bold';
    letter-spacing: 1px;
}

.jobText {
    margin: 0px;
    text-align: center;
    font-size: 15px;
    font-family: 'Junction-bold';
    letter-spacing: 1px;
}

.jobClickContainer {
    text-align: center;
}

.jobClickContainer > a {
    display: inline-block;
    margin-top: 50px;
    padding: 25px;
}

.jobSlide2Title {
    padding-top: 50px;
}

.jobImageContainer {
    transition: all .2s ease-in-out;
    transition-duration: 1s;
}

.floatingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bosch_job {
    background-image: url(images/bosch_background.png);
    background-size: cover;
}

.studentUnion_job {
    background-image: url(images/su_background.png);
    background-size: cover;
}

.tvac_job {
    background-image: url(images/tvac_background.png);
    background-size: cover;
}

.ambassador_job {
    background-image: url(images/ambassador_background.png);
    background-size: cover;
}

.coach_job {
    background-image: url(images/coach_background.png);
    background-size: cover;
}

.dfs_job {
    background-image: url(images/dfs_background.png);
    background-size: cover;
}

/* END OF EXPERIENCE */

/* PROJECTS */

.projectsContainer {
    margin: auto;
    margin-bottom: 50px;
    width: 300px;
}

.projectWrapContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.projectBox {
    position: relative;
    margin: auto;
    width: 150px;
    height: 150px;
    min-height: 150px;
    min-width: 150px;
    color: white;
}

.projectBox > h4 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top: 50px;
    text-shadow: 0px 2px 3px #555;
    letter-spacing: -2px;
}

.innerBorderHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: border 0.2s ease;
}

.thridYearProject {
    background-color: aqua;
}

.FSSR {
    background-image: url(images/FSSR_background.png);
    background-size: cover;
}

.myWebsite {
    background-image: url(images/website_background.png);
    background-size: cover;
}

.myPythonProject {
    background-color: palevioletred;
}

.JC {
    background-image: url(images/JC_background.png);
    background-size: cover;
}

.degree52 {
    background-image: url(images/52_background.png);
    background-size: cover;
}

.myCProject {
    background-color: brown;
}

.myCPlusPlusProject {
    background-color: chartreuse;
}

/* END OF PROJECTS */

/* ABOUT CONTAINER */

.aboutContainer {
    background-image: url(images/about_background.jpg);
    background-size: cover;
}

/* END OF ABOUT CONTAINER */

/* SKILLS */

.skillsLittleBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 30px;
    height: auto;
    padding: 1px 20px;
    margin-bottom: 3px;
    overflow: auto;
}

.skillsLittleBox:hover {
    background-color: #b9ceff;
}

.skillsTextContainer {
    margin: 0px;
    font-size: 20px;
    font-family: 'Junction-light';
    display: inline;
    word-wrap: break-word;
    width: 50%;
}

.starsContainer {
    display: inline;
    height: 30px;
    width: 50%;
    margin: auto;
}

.starOn {
    background-image: url(images/coloured_star.png);
    background-size: cover;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-top: 5px;
    float: right;
}

.starOff {
    background-image: url(images/not_coloured_star.png);
    background-size: cover;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-top: 5px;
    float: right;
}

.skillsDivider {
    height: 50px;
    margin-bottom: 50px;
    width: 100%;
    border-bottom: 1px #b9ceff solid;
}

.skillsButton {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* END OF SKILLS */

/* ATHLETICS CLUBS */

.athleticsContainer {
    padding-bottom: 50px;
}

.clubContainer {
    width: 100%;
}

.clubBox {
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    color: white;
    transition: all .2s ease-in-out;
    transition-duration: 1s;
}

.clubSlide1Container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.clubSlide2Container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.clubTitle {
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: 'Junction-bold';
    letter-spacing: 1px;
}

.clubText {
    margin: 0px;
    text-align: center;
    font-size: 15px;
    font-family: 'Junction-bold';
    letter-spacing: 1px;
}

.clubClickContainer {
    text-align: center;
    height: 100%;
}

.clubClickContainer > a {
    display: inline-block;
    margin-top: 150px;
    padding: 25px;
}

.clubSlide2Title {
    padding-top: 50px;
}

.clubImageContainer {
    transition: all .2s ease-in-out;
    transition-duration: 1s;
}

.wseh_image {
    background-image: url(images/wseh_background.png);
    background-size: cover;
}

.swanseaAC_image {
    background-image: url(images/swanseaAC_background.png);
    background-size: cover;
}

.york_image {
    background-image: url(images/york_background.png);
    background-size: cover;
}

.resultButton {
    margin-bottom: 50px;
}


/* END OF ATHLETICS CLUBS */

/* ATHLETICS GALLERY */

.galleryContainer {
    height: 250px;
    max-height: 250px;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    margin: auto;
    margin-bottom: 50px;
}

.galleryContainer > img {
    height: 250px !important;
    display: inline;
    cursor: pointer;
}

.imageOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.makeOpacity {
    opacity: 0.8;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.imageOverlayCloseBox {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    z-index: 3;
}

.imageOverlayCloseBox > img {
    width: 50px;
}

#mainOverlayImage {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    max-width: 60%;
    max-height: 60%;
    z-index: 3;
}

#mainOverlayImageWelsh {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    max-width: 60%;
    max-height: 60%;
    z-index: 3;
}

.overlayRightArrowContainer {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 3;
    cursor: pointer;
}

.overlayLeftArrowContainer {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 3;
    cursor: pointer;
}

.overlayRightArrowContainer:hover {
    opacity: 0.5;
}

.overlayLeftArrowContainer:hover {
    opacity: 0.5;
}

.imageOverlayCloseBox:hover {
    opacity: 0.5;
}

/* END OF ATHLETICS GALLERY */

/* LINKS CONTAINER */

.linksContainer {
    height: 425px;
    background-color: #007bff;
    width: 100%;
    padding: 20px;
    padding-top: 60px;
}

.linkItemContainer {
    width: 180px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linkItemContainer:hover {
    opacity: 0.7;
    text-decoration: none;
}

.linkItemContainer > img {
    width: 40px;
    display: inline-block;
    padding-bottom: 5px;
}

.linkItemContainer > p {
    display: inline-block;
    margin: 0px;
    font-size: 20px;
    padding-left: 20px;
    color: white;
}

/* END OF LINKS CONTAINER */

/* DESKTOP VIEW */

@media only screen and (min-width: 1200px) {
    .navBarOuterContainer {
        background-color: transparent;
        transition: background-color ease-in 0.5s;
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    .navbar {
        max-width: 1200px;
        margin: auto;
        position: relative;
        background-color: transparent !important;
    }
    .navbar-brand {
        font-size: 30px;
    }
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-link {
        font-size: 25px;
        color: black !important;
        font-family: 'Junction-bold';
    }
    .nav-link:hover {
        font-family: 'Junction-bold';
        opacity: 0.5;
    }
    .nav-link.active {
        font-family: 'Junction-bold';
        opacity: 0.5;
    }
    .navbar-nav {
        padding-left: 60px;
    }
    .experienceContainer {
        max-width: 1200px;
        margin: auto;
    }
    .titleContainer > h2 {
        font-size: 45px;
    }
    .jobsContainer {
        display: flex;
    }
    .jobBox {
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
    }
    .wholePageInfoContainer {
        width: 300px;
    }
    .wholePageImageContainer {
        padding-left: 65px;
        padding-right: 65px;
    }
    .wholePageTextContainer {
        padding-top: 25px;
    }
    .myProjectContainer {
        max-width: 1200px;
        margin: auto;
    }
    .projectsContainer {
        width: 805px;
        margin-bottom: 0px;
        padding-bottom: 50px;
    }
    .projectWrapContainer {
        display: inline-flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .projectBox {
        margin-left: 25px;
        margin-right: 25px;
    }
    .projectsOuterLayer {
        background-color: #f2f2f2;
        width: 100%;
        position: relative;
        z-index: 0;
    }
    .skillsContainer {
        width: 1200px;
        margin: auto;
    }
    .skillsDivider {
        display: none;
    }
    .skillsBigBox {
        width: 595px;
        display: inline-block;
    }
    .athleticsOuterContainer {
        background-color: #f2f2f2;
        width: 100%;
        position: relative;
        z-index: 0;
    }
    .athleticsContainer {
        max-width: 1200px;
        margin: auto;
    }
    .clubContainer {
        display: flex;
    }
    .clubBox {
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
        transition: all .2s ease-in-out;
        transition-duration: 1s;
    }
    .clubBox:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
}

/* END OF DESKTOP VIEW */
